@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

@font-face {
  font-family: 'Heading';
  src: url(../public/assests/TheShapeOfThings-z2E0.ttf);
}

body {
  overflow-x: hidden;
  color: #bbb;
  background: rgb(7, 7, 7);
}
